.spin-container {
  text-align: center;
  margin-top: 100px;
}
.spin {
  border: 3px solid rgb(6 182 212);;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid rgb(8 145 178);
  width: 220px;
  height: 220px;
  position: relative;
  top: -211px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid rgb(14 116 144);
  width: 240px;
  height: 240px;
  top: -442px;
  position: relative;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid rgb(21 94 117);
  width: 260px;
  height: 260px;
  top: -693px;
  position: relative;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
#text {
  color: rgb(22 78 99);
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}

.detail-text {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.detail-card {
  width: 50%;
  height: 100px;
  text-align: center;
}

.download-btn {
  background-color: rgb(4 120 87);
  color: white;
  border-radius: 4px;
  text-align: center;
  width: 130px;
  height: 30px;
  font-size: 12px;
  border: 1px solid gray;
}

.prepare-btn {
  background-color: whitesmoke;
  border-radius: 4px;
  text-align: center;
  width: 120px;
  height: 30px;
  font-size: 12px;
  border: 1px solid gray;
}
