.custom-btn {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  width: 80px;
  height: 30px;
  margin-left: 4px;
  border: 1px solid gray;
}

button:active {
  border: 1px solid black;
}

/* Footer styles */
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
