<div class='container mt-10'>
  <input type='search' autocomplete='off' placeholder='URL youtube video' [(ngModel)]='searchData.url' (keydown.Enter)='updateURL()'
         class='placeholder:italic placeholder:text-slate-400 focus:outline-none w-48 sm:w-80 leading-8 px-4 rounded' [disabled]='isLoading' />
  <select [(ngModel)]='searchData.type' class='h-8 rounded ml-2' [disabled]='isLoading'>
    <option value='video'>video</option>
    <option value='mp3'>mp3</option>
  </select>
  <button (click)='updateURL()' [disabled]='isLoading' [class]='isLoading ? "custom-btn cursor-progress" : "custom-btn cursor-pointer"'>
    <div *ngIf='isLoading;else showBtn'>
      <svg class="mr-1 h-4 w-4 inline animate-spin text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25 mx-0 px-0" cx="12" text-black cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75 mx-0 px-0" text-black fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <span class="text-xs">Loading</span>
    </div>
    <ng-template #showBtn>
      <span> search </span>
    </ng-template>
  </button>
</div>
